@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

div {
  margin-top: 100px;
}

img {
  display: block;
  width: 300px;
}

input {
  display: block;
  width: 400px;
}
