@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

img {
  width: 300px;
}

input {
  width: 400px;
}
